#    
# i3 config file (v4) Please see http://i3wm.org/docs/userguide.html for a complete reference!  


# Variables for colours
set $lime       #9fbc00
set $darklime   #505e00
set $blue       #131d24
set $lightblue  #232d34
set $lightgray  #ddeedd
set $darkgray   #444444
set $white      #ffffff
set $urgentred  #b33a3a

#Variables for workspaces
set $ws1     "1:www"
set $ws2     "2:2"
set $ws3     "3:3"
set $ws4     "4:4"
set $ws5     "5:explo"
set $ws6     "6:text"
set $ws7     "7:video"
set $ws8     "8:music"
set $ws9     "9:vbox"
set $ws10    "10:random"

# back and forth, like mod+esc in awesome, but you press mod+workspace
workspace_auto_back_and_forth yes

# border in new window
new_window pixel 1

# border near edge
hide_edge_borders both

# FONT
font pango:AnonymicePowerline Nerd Font 1 Nerd Font 8

# CLIENT COLOR (TO TEST)
# classname                 border      background  text    indicator
client.focused              $lime       $lime       $white  $lime
client.unfocused            $darkgray   $darklime   $white  $darklime
client.focused_inactive     $darkgray   $darklime   $white  $darklime
client.urgent               $urgentred  $urgentred  $white  $urgentred

# MOD BUTTON
set $mod Mod4
set $mod5 Mod5
floating_modifier $mod

# TERMINAL 
bindsym $mod+Return exec urxvt

# KILL
bindsym $mod+q kill

# RUN
bindsym $mod+d exec dmenu_run 
#bindsym $mod+Shift+d exec --no-startup-id i3-dmenu-desktop

# CHANGE FOCUS
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# MOVE FOCUSED WINDOW
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# SPLIT HORIZONTAL
bindsym $mod+b split h

# SPLIT VERTICAL
bindsym $mod+v split v

# FULLSCREEN
bindsym $mod+f fullscreen toggle

# CHANGE CONTAINER LAYOUT
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# TOGGLE AND SWITCH TILLING / FLOATING
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle

# FOCUS PARENT / CHILD
bindsym $mod+a focus parent
bindsym $mod+Shift+a focus child

# SWITCH TO WORKSPACE
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10
bindsym $mod+Tab workspace back_and_forth

# MOVE CONTAINER TO WORKSPACE
bindsym $mod+Shift+1 move container to workspace number $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9
bindsym $mod+Shift+0 move container to workspace number $ws10

# RELOAD
bindsym $mod+Shift+c reload

# RESTART
bindsym $mod+Shift+r restart

# EXIT
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# SCREENSHOT [TO FIX] 
#bindsym $mod5+F6 exec scrot -e 'mv $f ~/Pictures/ 2>/dev/null'
#scrot ~/Pictures/screenshot/scr-$(date +%Y-%m-%d).png

#bindsym $mod+F7 exec "sleep 0.5 && scrot -se 'mv $f ~/Pictures/ 2>/dev/null'"
#scrot -s $HOME/Pictures/screenshot/scr-$(date +%Y-%m-%d).png

#bindsym --release $mod+F6 exec scrot $HOME/Pictures/screenshot-$(date +%Y-%m-%d).png
#bindsym --release $mod+F7 exec scrot -s $HOME/Pictures/screenshot-$(date +%Y-%m-%d).png

# PROGRAM KEYBIND
bindsym $mod+n exec --no-startup-id nautilus 
bindsym $mod5+F2 exec  "xbacklight -dec 10"
bindsym $mod5+F3 exec  "xbacklight -inc 10"
bindsym $mod5+F8 exec  "i3lock -c 200020 -n -e"
bindsym $mod5+F9 exec  "amixer -D pulse sset Master 5%-"
bindsym $mod5+F10 exec "amixer -D pulse sset Master 5%+"

# RULES
assign [class="(?i)firefox"] $ws1

# STARTUP
exec_always --no-startup-id feh --bg-fill $HOME/.config/i3/wallpaper.png

# RESIZE MODE
bindsym $mod+r mode "resize"
mode "resize" {
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

###############################################################################################################################################################################################

# i3bar config
bar {
        status_command i3status

        position top
        tray_padding 0
        font pango:AnonymicePowerline Nerd Font 1 Nerd Font 8
        strip_workspace_numbers yes
        colors {
            statusline  $lightgray
            background  $blue
            separator   $lime
            
            #classname          border      background  text
            focused_workspace   $lightblue  $lightblue  $lime
            inactive_workspace  $blue       $blue       $white
            urgent_workspace    $urgentred  $urgentred  $white
        }
}
