@import "global/variables.css";
@import "global/global.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
/* https://github.com/muckSponge/MaterialFox */

.bookmark-item > .toolbarbutton-text {
  margin-top: -1px !important;
}
.bookmark-item {
  margin: 1px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.bookmark-item:not([container]):not([open="true"]) > .toolbarbutton-text {
  display: none !important;
}

#PlacesToolbarItems
  > .bookmark-item:not([container]):not([open="true"])
  > .toolbarbutton-icon[label]:not([label=""]) {
  margin-inline-end: 0px !important;
}

/* @namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); */

/* /1* bookmark with icon only *1/ */
/* .bookmark-item > .toolbarbutton-text { */
/*   margin-top: -1px !important; */
/* } */
/* .bookmark-item { */
/*   margin: 1px !important; */
/*   margin-left: 2px !important; */
/*   margin-right: 2px !important; */
/* } */
/* .bookmark-item:not([container]):not([open="true"]) > .toolbarbutton-text { */
/*   display: none !important; */
/* } */
/* #PlacesToolbarItems */
/*   > .bookmark-item:not([container]):not([open="true"]) */
/*   > .toolbarbutton-icon[label]:not([label=""]) { */
/*   margin-inline-end: 0px !important; */
/* } */

/* /1* bookmark bar only in new tab *1/ */
/* #main-window #PersonalToolbar { */
/*   visibility: collapse !important; */
/* } */

/* #main-window[title^="about:newtab"] #PersonalToolbar, */
/* #main-window[title^="New Tab"] #PersonalToolbar, */
/* #main-window[title^="Nightly"] #PersonalToolbar, */
/* #main-window[title^="Mozilla Firefox"] #PersonalToolbar, */
/* #main-window[title^="Firefox"] #PersonalToolbar, */
/* #main-window[title^="新标签页"] #PersonalToolbar, */
/* #main-window[title^="Customize Firefox"] #PersonalToolbar { */
/*   visibility: visible !important; */
/* } */
